#mainheader{

    text-align: center;

}

.lead{

  font-size: 120%;

}

#game{

  text-align: center;

}

#footer{

  text-align: center;
  height: 60px;
  width: 100%;

}

#footerbuttons{

  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px

}
