#mainheader{

    text-align: center;

}

.lead{

  font-size: 120%;

}

#game{

  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

#bicepsheader{

  text-align: center;

}

#muscleimage{

  width: 15%;
  height: 15%;
  text-align: center;

}

#centreimage{

  text-align: center;

}


#containermargin{

  margin-top: 50px;
  margin-bottom: 50px;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#mealweek{

  text-align: center;

}

#weeklyworkout{

  margin-top: 20px;

}
