#mainheader{

    text-align: center;

}

.lead{

  font-size: 120%;

}

#game{

  text-align: center;

}

#footer{

  text-align: center;
  height: 60px;
  width: 100%;

}

#footer{

  text-align: center;

}

#bicepsheader{

  text-align: center;

}

#muscleimage{

  width: 15%;
  height: 15%;
  text-align: center;

}

#centreimage{

  text-align: center;

}


#containermargin{

  margin-top: 50px;
  margin-bottom: 50px;

}

#mealweek{

  text-align: center;

}
